<div id="menu">
    <ul>
        <li><a href="home.html">Home</a></li>
        <li><a href = "play_game.html">Play game</a></li>
        <li><a href = "create_game.html">Create game</a></li>
        <li><a href = "join_game.html">Join game</a></li>
        <li><a href = "manage_fleet.html">Manage fleet</a></li>
    </ul>
</div>

<div class="centered-element">
    <h1>Bataille Navale</h1>
    <img  height="80" width="80" src="images/logo.png">
</div>

<link rel="stylesheet" href="styles/style.css">
<script src="scripts/manage-fleet.js"></script>
<div class="vertical-container">
    <div class="form-result" id="create-game-result"></div>
    <div class="centered-form">
        <form id="create-game-form">
            <label for="player-name">Ton pseudo:</label><br>
            <input type="text" id="player-name" name="player_name" required><br><br>
            <label for="identifiant">Identifiant de la partie:</label><br>
            <input type="number" id="identifiant" name="identifiant" required value="0"><br><br>
            <input class="submit-button" type="submit" value="Charger ma flotte"><br><br>
            <label for="vaisseaux">Choisir le type de vaisseau :</label><br>
            <select id="vaisseaux" name="vaisseaux">
                <option value="CRUISIER">Cruiser</option>
                <option value="DESTROYER">Destroyer</option>
                <option value="Frigate">Frigate</option>
                <option value="Submarine">Submarine</option>
            </select><br><br>
            <label for="x">X:</label><br>
            <input type="number" id="x" name="x" required value="0"><br>
            <label for="y">Y:</label><br>
            <input type="number" id="y" name="y" required value="0"><br>
            <label for="z">Z:</label><br>
            <input type="number" id="z" name="z" required value="0"><br><br>
            <input class="submit-button" type="submit" value="Valider">
        </form>
    </div>
</div>
<div class="manage_table">
    <table>
      <tr>
        <th>Vessel</th>
        <th>Coordonnées</th>
        <th>Réssitance</th>
        <th>Arme</th>
        <th>Munitions</th>
        <th>Rayon d'action</th>
      </tr>
    </table>
</div>

